* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    background-color: aliceblue;
}

nav {
    justify-content: space-around;
}
